Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
debtcollector==1.19.0
idna==2.6
iso8601==0.1.12
matplotlib==2.1.1
monotonic==1.4
netaddr==0.7.19
netifaces==0.10.6
numpy==1.13.3
oslo.i18n==3.19.0
oslo.utils==3.33.0
pbr==3.1.1
pybitflyer==0.1.9
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
slackclient==1.1.0
urllib3==1.22
websocket-client==0.46.0
wrapt==1.10.11
